name: Docker Image CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_SECRET }}
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          file: ./Dockerfile
          push: true
          provenance: false
          tags: |
            ghcr.io/mattipunkt/cms:latest
          labels: |
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.description=cms container image
            org.opencontainers.image.licenses=MIT
    
