name: ci

on:
  push:

jobs:
  docker-amd64:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GHCR Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_SECRET }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          push: true
          provenance: false
          tags: |
            ghcr.io/mattipunkt/cms:latest
          labels: |
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.description=cms container image
            org.opencontainers.image.licenses=MIT
  docker-arm64:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Login to GHCR Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_SECRET }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/arm64
          push: true
          provenance: false
          tags: |
            ghcr.io/mattipunkt/cms:latest
          labels: |
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.description=cms container image
            org.opencontainers.image.licenses=MIT
